@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.loader {
  border: 0.2em solid rgba(0, 0, 0, 0.1);
  border-top: 0.2em solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.6s linear infinite;
}
