.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;
}

.modal-content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	min-height: 460px;
	background: rgb(0, 8, 81);
	padding: 20px;
	border-radius: 6px;

	.video-player {
		margin-bottom: 24px;
	}

	@media (max-width: 768px) {
		width: 85%;
	}
}

.modal-close {
	width: 70%;
	background: #ffffff;
	color: rgb(0, 8, 81);
	text-transform: uppercase;
	outline: none;
	border: none;
	border-radius: 6px;
	padding: 6px;
}
